In [3]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100
passing_math_count = 29370
total_student_count = 39170
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

## The Pandas map() Function

### The map() function is used for substituting each value in a Series with another value. Where the new value is generated from a function, a dictionary, or a Series

In [4]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [5]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [6]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

## The Python format() Function

### The Python format() function is used to format a value to a specific format, such as one or two decimal places, or adding a thousands separator.

In [14]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    my_grades = ("{:.0f}".format(grade))
    print(my_grades)

92
85
87
98

## Chaining the map() and format() Functions

### We also apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions.

In [15]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object